.album-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}
.album-tag {
    background-color: rgba(129, 129, 129, 0.075);
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    line-height: 93%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border: 1px solid var(--ifm-color-content);
    border-radius: 10px;
    font-family: var(--ifm-heading-font-family);
    white-space: nowrap;
}
.album-tag:hover {
    cursor: pointer;
    background-color: rgba(129, 129, 129, 0.55);
}